.image {
    background-image: url(".//src//Images//Register.jpg");
}

.register-heading {
    text-align: center;
    font-weight: bold !important;
    color: #26a838;
}

.mb-4 {
    color: white !important;
}

.error {
    text-align: center;
    font-weight: bold !important;
    color: red;
}

.register-button:hover {
    background-color: #1b7927 !important;
}

.register-button:active {
    transform: scale(0.95) !important;
}