.main-content {
    margin-left: 20%;
}

.grid-container {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 1rem;
}

.search-bar {
    justify-content: center;
    width: 100%;
    display: flex;
    background-color: #26a838;
    position: fixed;
    z-index: 1000;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.search-button {
    background-color: #26a838 !important;
    border: None;
    width: 2.5rem;
    border-radius: 10px;
}

.search-icon {
    color: white;
}

input.custom-search {
    padding-left: 20px !important;
    border-radius: 50px;
    border: None;
}

.landing-page-image {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.heading {
    text-align: center;
    padding-top: 2%;
}
