.navbar-expand-lg.bg-body-tertiary {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    z-index: 1;
    background-color: #5A5A5A !important;
}

.navbar-brand {
    padding-left: 20px !important;
    font-size: 24px;
    font-weight: 900;
    color: #52CC62 !important;
}

.search-button {
    background-color: #52CC62 !important;
    border: None;
    width: 2.5rem;
    border-radius: 10px;
}

.search-icon {
    color: white;
}

input.custom-search {
    border-radius: 50px;
    border: None;
}

::placeholder {
    padding-left: 12px;
}